*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.random-btn{
    border-radius: 10px;
    border: none;
    padding: 15px 25px;
    background: #FF5400;
    color: white;
    font-weight: 700;
}
/* header section start */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 120px;
}
.nav-logo{
    display: flex;
    align-items: center;
    gap: 15px;
}
.nav-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 35px;
    
}
.nav-item{
    list-style: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
}
.humbuger{
    visibility: hidden;
}
/* header section end  */

/* explore section start */

.banner-section{
    background-image:linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%)
    ,url("Images/Group\ 13\ \(1\)\ \(1\).png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    border-radius: 16px;
    margin: 100px 120px ;
}
.banner-info{
    padding: 150px 260px;
}
.banner-desc{
    color: whitesmoke;
    text-align: center;
}
.banner-desc h2{
    font-size: 50px;
    margin-bottom: 20px;
}
.banner-desc p{
    margin-bottom: 20px;
}
.banner-input{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 30px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 30px;
    width: 750px;
}
.banner-input input, select{
    border: none;
    border-radius: 10px;
    padding: 15px 25px;
}
/* explore section end */

/* popular section start */

.popular-section{
    display: flex;
    gap: 50px;
    margin: 100px 120px;
   
}
.popular-tour h2 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 30px;
}
.popular-tour .popular-title{
    color: rgba(19, 19, 24, 0.70);
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 20px;
}
.popular-tour ul >li{
    color: rgba(19, 19, 24, 0.70);
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 20px;
    
 }
 .popular-section .popular-img{
    border-radius: 16px;
}
/* popular section end */

/* Choose Your Destination section start */
.destination-section{
    margin: 40px 120px;
}
.destination-info{
    text-align: center;
    margin-bottom: 40px;
}
.destination-info h1{
    font-size: 40px;
    margin-bottom: 20px;
}
.destination-1{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 20px;
}
.destination-2{
    display: flex; 
    gap: 30px;
    justify-content: center;
    margin-bottom: 20px;
}
.destination-3{
    display: flex; 
    gap: 30px;
    justify-content: center;
}
.image-container {
    position: relative;
    display: inline-block;
}
  
.image-container img {
    display: block;
    width: 100%;
    height: auto;
}
  
.overlay-text {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: #fff; 
    padding: 10px 20px; 
    font-size: 25px; 
    text-align: center;
}
/* Choose Your Destination section end */

/* why choose us section start */

.why-choose-us{
    margin: 100px 120px;
}
.why-choose-us h2{
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.why-choose-us .why-choose-desc{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 25px;
   
}
.why-choose{
    display: flex;
    gap: 30px;
    margin: 30px 0;
    justify-content: center;   
}
.handpicked-hotels{
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 50px;
    width: 50%;
   
}
.world-class-service{
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 50px;
    width: 50%;
    
}
.best-price-guarantee{
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    width: 50%;
    margin: 0 auto;
    padding: 50px;
}
.why-choose-img{
    margin-bottom: 20px;
}
.why-title{
    font-size: 30px;
    margin-bottom: 20px;
}
.why-desc{
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 10px;
}
/* why choose us section end */

/* happy clients section start */
.happy-clients-section{
    margin: 100px 120px;
    background-color:#FF5400;
    border-radius: 10px;
    color: white;
    padding: 100px;
}
.happy-clients{
    display: flex;
    gap: 30px;
    justify-content: space-around;
}
.happy-clients img{
    width: 60px;
    border-radius: 50%;
}
.happy-title{
    text-align: center;
    font-size: 50px;
    font-weight: bold; 
    margin-bottom: 40px;
}
.client{
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    width: 100%; 
    text-align: center;  
}
.client img{
    margin-bottom: 10px;
}
.client h4{
    margin-bottom: 10px;
}
.client p{
    margin-bottom: 10px;
    text-align: justify;
}
/* happy clients section end */



/* Newsletter section start */
.newsletter-section{
    display: flex;
    margin: 100px 120px;
    gap: 40px;
    justify-content: center;
}
.newsletter-form {
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 50px;
}
.newsletter-form h4{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}
.newsletter-form p{
  font-size: 14px;
  margin-bottom: 20px;
  font-weight: 700;
}
.newsletter-form input{
    display: block;
    width: 75%;
    padding: 20px 40px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    margin-bottom: 20px;
}
.newsletter-btn{
    width: 100%;
}
.newsletter-discount{
    background-color: #FF5400;
    color: white;
    border-radius: 10px;
    width: 25%;
    padding: 15px 30px;
}
.image-container {
    position: relative;
    display: inline-block;
}
  
.image-container img {
    display: block;
    width: 100%;
    height: auto;
}
  
.overlay-div {
    position: absolute;
    top: 80%; 
    left: 82%; 
    transform: translate(-50%, -50%) rotate(-25deg); 
    color: #fff;  
    text-align: center;
}
/* Newsletter section end */

/* footer section start */
footer{
    text-align: center;
    background: rgba(19, 19, 24, 0.05);
    padding: 50px;
}
.footer-logo-name{
    display: flex;
    align-items: center;
    justify-content: center;
   padding-top: 120px;
    
}
.footer-section p{
    color: #5A5A5D;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
    padding: 35px;
}
hr{
    background: rgba(19, 19, 24, 0.10);
    margin: 60px 285px;   
}
.footer-copyright{
    color: #131318;
    font-size: 20px;
    font-weight: 300;

}
.footer-icon{
    font-size: 30px;
    margin-right: 20px;
    cursor: pointer;
}
/* footer section end */